<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About Landin</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Information about Landin</h1>
    <div>
      <ul>
        <li>Born: 19 December 1988 (age 33) Søborg, Denmark</li>
        <li>Height: 2.01 m</li>
        <li>Playing position: Goalkeeper</li>
        <li>Current club:	THW Kiel</li>
      </ul>

      <img class="about" src="/images/landinA3.jfif" alt="Landin3">
    </div>
    
    <a class="homeLink" href="/home">Back to Home</a>
  </body>
</html>