<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Landin</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class = "background">
    <h1>DENMARK is ready for semifinals</h1>
    <h2>Denmark is now ready for the semifinals. <br> One of the reasons for this success is the <br> famous goalkeeper of Denmark.....</h2>
    <h1 class="highlightName">Niklas Landin</h1> 

    <div class = "links">
      <ul>
        <li><a href="/about">About Landin</a></li>
        <li><a href="/works">Landins work</a></li>
        <li><a href="/photo">Photos</a></li>
      </ul>
    </div>
  </body>
</html>