<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Photos</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Landin in action</h1>
    

    <div class="row">
      <div class="column">
        <img class = "photo" src="/images/landinA1.jfif" alt="Landin" style="width:100%">
      </div>
      <div class="column">
        <img class = "photo" src="/images/landinA2.jfif" alt="Landin2" style="width:100%">
      </div>
      <div class="column">
        <img class = "photo" src="/images/landinA3.jfif" alt="Landin3" style="width:100%">
      </div>
    </div>



    <!-- <img src="/images/landin1.jfif" alt="Landin" /> -->

    <a class="homeLink" href="/home">Back to Home</a>
  </body>
</html>
