<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Work - Landin</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <div class="bg-image"></div>

    <h1>Work</h1>
    
    <p>Landin has played handball since he was little. He has played for several clubs in Denmark and in Germany.</p>
    
    <table class="schedule-table" cellpadding="0" cellspacing="0">
      <thead>
        <th> Year </th>
        <th> Place </th>
      </thead>
      <tbody>
        <tr>
          <td> 2006 - 2010 </td>
          <td> GOG Svendborg TGI </td>
        </tr>
        <tr>
          <td> 2010 - 2012 </td>
          <td> Bjerringbro-Silkeborg </td>
        </tr>
        <tr>
          <td> 2012 - 2015 </td>
          <td> Rhein-Neckar Löwen </td>
        </tr>
        <tr>
          <td> 2015 - now </td>
          <td> THW Kiel </td>
        </tr>
      </tbody>
    </table>

    <a class="homeLink" href="/home">Back to Home</a>
  </body>
</html>